<script type="text/javascript">
  var currentStoryId = <%= @story.id %>;
  var firstStory = <%= @story.id %>;
</script>

<div class="books">
  <div id="title">
    <%= @story.title %>
  </div>

  <div id="narrative">
    <%= @story.narrative %>
  </div>

  <div class="link-to-another">
    <%= link_to('<< Previous', '#', id: 'previous-story', style: 'display: none') %>
    <%= link_to('Next >>', '#', id: 'next-story') %>
  </div>

  <div class="mini-menu">
    <%= link_to('Archive', archive_books_path) %>
  </div>
</div>
